
hr{
  height: 3px;
  background-color: rgba(185, 185, 185, 0.329);
  border: none;
}

#results-section {
  background-color: rgb(245, 245, 245);

  #results-display-div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    a {
      text-decoration: none;
      color: rgb(54, 54, 54);
    }
    
    .country-card {
      height: 315px;
      width: 250px;
      background-color: white;
      box-shadow: 2px 2px 15px 3px #00000017;
      border-radius: 8px;
      margin: 50px;
      overflow: hidden;
      transition: 500ms;

      .flag-div-sm {
        height: 50%;
      }

      .card-content-div {
        display: flex;
        flex-direction: column;
        padding: 10%;

        .country-card-heading {
          font-size: 1rem;
          margin: 0 0 5% 0;
        }

        p {
          margin: 0 0 5% 0;
          font-size: 0.8rem;
        }
      }

      &:hover{
        transform: scale(1.05);
      }
    }
  }
}
