.container {
  width: 80%;
  margin: 0 auto;
}

hr {
  height: 3px;
  background-color: rgba(185, 185, 185, 0.329);
  border: none;
  margin: 20px 0 0 0;
}

#search-section {
  background-color: rgb(245, 245, 245);

  #search-inputs-div {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 575px) {
      flex-direction: column;
      gap: 10px;
    }

    #search-box-div {
      @media only screen and (max-width: 575px) {
        width: 100%;
      }

      input {
        border-radius: 5px;
        border: hidden;
        box-shadow: 2px 2px 15px 3px #00000007;
        padding: 15px 25px;

        @media only screen and (max-width: 575px) {
          width: 80%;
        }
      }
    }

    #custom-select {
      width: 200px;
      box-shadow: 2px 2px 15px 3px #00000007;
      cursor: pointer;

      #custom-select-header {
        font-size: 0.8rem;
        padding: 15px 25px;
        background-color: white;
        border-radius: 5px;
      }

      #custom-select-dropdown {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 200px;
        margin-top: 3px;
        background-color: white;
        border-radius: 5px;
        overflow: hidden;
        transition: 300ms;
        position: absolute;

        div {
          padding: 5px 25px;
          .custom-select-dropdown-option {
            font-size: 0.8rem;
          }

          &:hover {
            background-color: rgba(145, 145, 145, 0.329);
          }
        }
      }
    }
  }
}

#results-section {
  background-color: rgb(245, 245, 245);

  #results-header {
    display: flex;
    justify-content: center;

    h2 {
      text-transform: uppercase;
      font-size: 2rem;
      letter-spacing: 0.3rem;
    }
  }

  #results-display-div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px 25px;

    a {
      text-decoration: none;
      color: rgb(54, 54, 54);

      @media only screen and (max-width: 575px) {
        margin: 0 auto;
      }
    }

    .country-card {
      height: 315px;
      width: 250px;
      background-color: white;
      box-shadow: 2px 2px 15px 3px #00000017;
      border-radius: 8px;
      overflow: hidden;
      transition: 500ms;

      .flag-div-sm {
        height: 50%;
      }

      .card-content-div {
        display: flex;
        flex-direction: column;
        padding: 10%;

        .country-card-heading {
          font-size: 1rem;
          margin: 0 0 5% 0;
        }

        p {
          margin: 0 0 5% 0;
          font-size: 0.8rem;
        }
      }

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

#country-profile-section {
  background-color: rgb(245, 245, 245);
  padding: 5vh 0;
    
  .back-bttn {
    cursor: pointer;
    font-size: 0.8rem;
    padding: 10px 35px;
    background-color: white;
    box-shadow: 2px 2px 7px 3px #00000017;
    border: hidden;
    border-radius: 5px;
    transition: 300ms;

    &:hover{
      box-shadow: none;
      background-color: #00000017;
    }
  }

  .profile-content {
    margin: 10px 0;
    display: flex;
    gap: 50px;

    @media only screen and (max-width: 575px) {
      flex-direction: column;
      gap: 25px;
    }

    .profile-flag-div {
      width: 50%;

      @media only screen and (max-width: 575px) {
        width: 100%;
      }

      img {
        width: 100%;
        border-radius: 10px;
      }
    }

    .profile-text-div {
      display: flex;
      flex-direction: column;
      width: 50%;

      @media only screen and (max-width: 575px) {
        width: 100%;
      }

      .profile-stats-div {
        display: flex;
        gap: 50px;

        @media only screen and (max-width: 575px) {
          flex-direction: column;
          gap: 0px;
        }
      }

      .profile-neighbor-div {
        ul {
          display: flex;
          justify-content: space-evenly;
          flex-wrap: wrap;
          gap: 8px;
          padding: 0;

          a{
            text-decoration: none;
            color: black;
            border: 1px solid black;
            border-radius: 3px;
            padding: 5px;
            transition: 300ms;

            &:hover{
              background-color: #00000017;
            }

            li {
              list-style: none;
              font-size: 0.7rem;
            }
          }
        }
      }
    }
  }
}
